.cid-sFGMfPD7iT {
    background-image: url(../img/hero.jpg);
}

.cid-sFGMfPD7iT .logo-img {
    width: auto;
}

.cid-sFGNHRkFsi .mbr-section-title {
    text-align: center;
}

@media only screen and (min-width: 992px) {
    .cid-sFGNHRkFsi .second-row {
        margin-top: 1em
    }
}
